TetrisCpp/Tetris.exe
TetrisCpp/.vscode/tasks.json
TetrisCpp/.vscode/launch.json
TetrisCpp/.vscode/c_cpp_properties.json
TetrisCpp/.vscode/settings.json
TetrisCpp/CppProperties.json
TetrisCpp/TetrisCpp.vcxproj.filters
TetrisCpp/TetrisCpp.vcxproj.user
TetrisCpp/.vs/ProjectSettings.json
TetrisCpp/.vs/slnx.sqlite
TetrisCpp/.vs/VSWorkspaceState.json
TetrisCpp/.vs/TetrisCpp/FileContentIndex/55bfa5a0-7b07-4321-9259-e75ecab11ff0.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/91aa1571-ad89-484e-ad6c-59050f2ac979.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/7499b33d-50e8-43ec-a0ba-4aaa1fffbe9f.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/da96a881-2cdd-4f3f-af59-5d4f56efd92f.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/f1cf4f11-f79b-4189-83ed-b558ee51dca7.vsidx
TetrisCpp/.vs/TetrisCpp/v17/.suo
TetrisCpp/.vs/TetrisCpp/v17/.wsuo
TetrisCpp/.vs/TetrisCpp/v17/Browse.VC.db
TetrisCpp/.vs/TetrisCpp/v17/DocumentLayout.backup.json
TetrisCpp/.vs/TetrisCpp/v17/DocumentLayout.json
TetrisCpp/.vs/TetrisCpp/v17/Solution.VC.db
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/21bc4a1124a63a9e/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/322035d4affffad0/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/682e69ac575aa0b7/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/7a950a984d5af456/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/92e0996c87d28319/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/961e7a8b7900fdd/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/fb500c8df54ef97f/MAIN.ipch
TetrisCpp/Debug/TetrisCpp.exp
TetrisCpp/Debug/TetrisCpp.pdb
TetrisCpp/TetrisCpp/Debug/Board.obj
TetrisCpp/TetrisCpp/Debug/Game.obj
TetrisCpp/TetrisCpp/Debug/IO.obj
TetrisCpp/TetrisCpp/Debug/main.obj
TetrisCpp/TetrisCpp/Debug/Pieces.obj
TetrisCpp/TetrisCpp/Debug/TetrisCpp.Build.CppClean.log
TetrisCpp/TetrisCpp/Debug/TetrisCpp.exe.recipe
TetrisCpp/TetrisCpp/Debug/TetrisCpp.ilk
TetrisCpp/TetrisCpp/Debug/TetrisCpp.vcxproj.FileListAbsolute.txt
TetrisCpp/TetrisCpp/Debug/vc143.idb
TetrisCpp/TetrisCpp/Debug/vc143.pdb
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.command.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/Cl.items.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.read.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.write.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.command.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.read.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.secondary.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.write.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/TetrisCpp.lastbuildstate
TetrisCpp/TetrisCpp/x64/Debug/Board.obj
TetrisCpp/TetrisCpp/x64/Debug/Game.obj
TetrisCpp/TetrisCpp/x64/Debug/IO.obj
TetrisCpp/TetrisCpp/x64/Debug/main.obj
TetrisCpp/TetrisCpp/x64/Debug/Pieces.obj
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.Build.CppClean.log
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.log
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.vcxproj.FileListAbsolute.txt
TetrisCpp/TetrisCpp/x64/Debug/vc143.idb
TetrisCpp/TetrisCpp/x64/Debug/vc143.pdb
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.command.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-cvtres.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-cvtres.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-rc.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-rc.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.command.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.read.2.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/TetrisCpp.lastbuildstate
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/unsuccessfulbuild
TetrisCpp/CppProperties.json
.gitignore
TetrisCpp/TetrisCpp.vcxproj.user
TetrisCpp/TetrisCpp.vcxproj.filters
TetrisCpp/.vs/ProjectSettings.json
TetrisCpp/.vs/slnx.sqlite
TetrisCpp/.vs/VSWorkspaceState.json
TetrisCpp/.vs/TetrisCpp/FileContentIndex/55bfa5a0-7b07-4321-9259-e75ecab11ff0.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/91aa1571-ad89-484e-ad6c-59050f2ac979.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/7499b33d-50e8-43ec-a0ba-4aaa1fffbe9f.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/da96a881-2cdd-4f3f-af59-5d4f56efd92f.vsidx
TetrisCpp/.vs/TetrisCpp/FileContentIndex/f1cf4f11-f79b-4189-83ed-b558ee51dca7.vsidx
TetrisCpp/.vs/TetrisCpp/v17/.suo
TetrisCpp/.vs/TetrisCpp/v17/.wsuo
TetrisCpp/.vs/TetrisCpp/v17/Browse.VC.db
TetrisCpp/.vs/TetrisCpp/v17/Browse.VC.db-shm
TetrisCpp/.vs/TetrisCpp/v17/Browse.VC.db-wal
TetrisCpp/.vs/TetrisCpp/v17/Browse.VC.opendb
TetrisCpp/.vs/TetrisCpp/v17/DocumentLayout.backup.json
TetrisCpp/.vs/TetrisCpp/v17/DocumentLayout.json
TetrisCpp/.vs/TetrisCpp/v17/Solution.VC.db
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/21bc4a1124a63a9e/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/322035d4affffad0/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/682e69ac575aa0b7/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/7a950a984d5af456/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/92e0996c87d28319/IO.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/961e7a8b7900fdd/MAIN.ipch
TetrisCpp/.vs/TetrisCpp/v17/ipch/AutoPCH/fb500c8df54ef97f/MAIN.ipch
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/unsuccessfulbuild
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/TetrisCpp.lastbuildstate
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.read.2.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link.command.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-rc.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-rc.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-cvtres.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/link-cvtres.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.write.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.read.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.tlog/CL.command.1.tlog
TetrisCpp/TetrisCpp/x64/Debug/vc143.pdb
TetrisCpp/TetrisCpp/x64/Debug/vc143.idb
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.vcxproj.FileListAbsolute.txt
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.log
TetrisCpp/TetrisCpp/x64/Debug/TetrisCpp.Build.CppClean.log
TetrisCpp/TetrisCpp/x64/Debug/Pieces.obj
TetrisCpp/TetrisCpp/x64/Debug/main.obj
TetrisCpp/TetrisCpp/x64/Debug/IO.obj
TetrisCpp/TetrisCpp/x64/Debug/Game.obj
TetrisCpp/TetrisCpp/x64/Debug/Board.obj
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/TetrisCpp.lastbuildstate
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.write.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.secondary.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.read.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/link.command.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.write.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.read.1.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/Cl.items.tlog
TetrisCpp/TetrisCpp/Debug/TetrisCpp.tlog/CL.command.1.tlog
TetrisCpp/TetrisCpp/Debug/vc143.pdb
TetrisCpp/TetrisCpp/Debug/vc143.idb
TetrisCpp/TetrisCpp/Debug/TetrisCpp.vcxproj.FileListAbsolute.txt
TetrisCpp/TetrisCpp/Debug/TetrisCpp.ilk
TetrisCpp/TetrisCpp/Debug/TetrisCpp.exe.recipe
TetrisCpp/TetrisCpp/Debug/TetrisCpp.Build.CppClean.log
TetrisCpp/TetrisCpp/Debug/Pieces.obj
TetrisCpp/TetrisCpp/Debug/main.obj
TetrisCpp/TetrisCpp/Debug/IO.obj
TetrisCpp/TetrisCpp/Debug/Game.obj
TetrisCpp/TetrisCpp/Debug/Board.obj
TetrisCpp/Debug/TetrisCpp.pdb
TetrisCpp/Debug/TetrisCpp.exp
